@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #fff;
  margin: 0;
  overflow-x: hidden; 
  overflow-y: auto;
  font-family: Arial, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
